import { createAzure } from "@ai-sdk/azure";
import { generateObject } from "ai";
import { {{promptName}}, {{schemaName}} } from "./prompt";

const azure = createAzure({
  apiVersion: process.env.AZURE_OPENAI_VERSION,
  resourceName: process.env.AZURE_OPENAI_RESOURCE_NAME,
  apiKey: process.env.AZURE_OPENAI_API_KEY,
  baseURL: process.env.AZURE_OPENAI_ENDPOINT,
  useDeploymentBasedUrls: true,
});

export const {{agentFunction}} = async (input: string) => {
  const result = await generateObject({
    model: azure("gpt-4o-mini"),
    schema: {{schemaName}},
    system: {{promptName}},
    messages: [
      {
        role: "user",
        content: input,
      },
    ],
  });

  return result.object;
};

